<div class="task-list">

  <h2 class="task-list__header">Tasks</h2>

  <div class="task-list__filter" [formGroup]="filterForm">
    <mat-form-field class="task-list__filter-input">
      <mat-label>Search...</mat-label>
      <input matInput formControlName="filter">
    </mat-form-field>
  </div>

  <div class="task-list__list">
    <ng-container *ngIf="tasks$ | async as tasks; else noTasks">
      <app-task-item *ngFor="let task of tasks"
                     [task]="task"
                     (mark)="markTask($event)"
                     (delete)="deleteTask($event)">
      </app-task-item>
    </ng-container>
    <ng-template #noTasks>
      No tasks, time to create one!
    </ng-template>
  </div>
</div>
